/*!
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 */
@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/fontawesome-webfont.woff?v=3.0.1") format("woff");
    font-weight: normal;
    font-style: normal;
}

.loading .player:before {
    -webkit-animation: fa-pulse 1s infinite steps(8);
    animation: fa-pulse 1s infinite steps(8);
}

@keyframes fa-pulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes fa-pulse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/**
 * The rest of this file is subject to the project license described at
 * https://bitbucket.org/AMcBain/kahvi-collective-latest-releases-web-app for the license
 *
 * Please visit there for details.
 */

html {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background: #fafafa;
}

body {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
}

html, body {
    height: 100%;
}

h1 {
    display: none;
}

article {
    display: flex;
    width: 100vw;
    height: 100%;
    flex: none;
    border-right: 2px solid black;
}

@media (orientation: portrait) {
    article {
        flex-direction: column;
    }
}

/* Top and sides obey padding, bottom doesn't. Why? Find out. */
article > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    height: 100%;
    overflow: auto;
}

@media (orientation: portrait) {
    article > div {
        width: 100%;
        height: 50%;
    }
}

header {
    position: relative;
    padding-top: 1em;
    padding-right: .5em;
    padding-left: 1em;
}

header + div, header + ol {
    padding-right: .5em;
    padding-bottom: 1em;
    padding-left: 1em;
}

article > div:last-child header, article > div:last-child header + ol {
    padding-left: .5em;
    padding-right: 1em;
}

h2 {
    margin: 0;
    margin-bottom: .5em;
    font-size: larger;
    font-weight: normal;
}

.album.cover {
    float: right;
    max-width: 100%;
    margin-left: 1em;
}

@media (orientation: landscape) and (max-width: 320px) {
    .album.cover {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: .25em;
    }
}

.player {
    display: flex;
    padding-bottom: 1em;
}

.loading .player:before {
    content: "\f110";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    margin-left: -.5em;
    font: 1.31em/1em FontAwesome;
    will-change: transform;
}

.button {
    font-size: 0;
    cursor: pointer;
}

.button, .button:before {
    vertical-align: middle;
}

.button:before {
    content: "\f04c";
    display: inline-block;
    width: 3em;
    font: 1rem/2.44em FontAwesome;
    text-align: center;
    background: #adcbaf;
    border-radius: 3px 0 0 3px;
}

.button.paused:before {
    content: "\f04b";
}

progress {
    box-sizing: border-box;
    flex-grow: 1;
    vertical-align: middle;
    min-width: 0;
    height: 2.44em;
    border: none;
    background: none;
    border: 2px solid #adcbaf;
    border-left: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

/* WebKit doesn't apply the previous, it uses these instead. */
::-webkit-progress-bar {
    background: none;
}

/* Firefox's indication of the progress state. */
::-moz-progress-bar {
    background: #c1d9b7;
}

/* IE10+'s indicator. */
progress::-ms-fill {
    background: #c1d9b7;
    border: none;
}

/* WebKit's area indicating the progress state. */
::-webkit-progress-value, ::-webkit-meter-optimum-value, ::-webkit-meter-suboptimum-value, ::-webkit-meter-even-less-good-value {
    background: #c1d9b7;
}

ol {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    position: relative;
    padding: .5em 0;
    line-height: 1.44em;
    cursor: pointer;
}

li:hover, li:focus {
    text-decoration: underline;
}

li:nth-child(odd) {
    background: #f6f6f6;
}

li.active {
    text-decoration: underline;
    background: #f5f9f3;
}

li span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li span:first-child {
    float: right;
    font-size: small;
    margin-top: .125em;
    margin-left: 1em;
}

/*
 * Error styles
 */
body > div {
    position: relative;
    top: 50%;
    width: 55%;
    margin: 0 auto;
    margin-top: -2.75em;
    white-space: normal;
    color: #b03060;
}

body > div h1 {
    text-align: center;
}

body > div p {
    margin-bottom: 0;
}
