#{extends "main.html" /}
#{set title:play.configuration.get("application.name") /}
#{if releases && releases.size()}
#{list releases,as:"release"}
        <article>
            <div>
                <header>
                    <h2>${release.title}</h2>
                </header>
                <div>
#{if release.image}                    <img class="album cover" src="@{Application.image(release_index)}" alt="Album cover for ${release.title}">
#{/}                    ${release.description.raw()}
                </div>
            </div>
            <div>
                <header class="player">
                    <span class="button paused" title="play" tabindex="0">play</span>
                    <progress value="0" max="1">00:00</progress>
                </header>
                <ol>
#{list release.trackList,as:"track"}
                    <li data-href="${track.location.replace("http:", "").replace("https:","")}" data-index="${track_index - 1}" tabindex="0">${track.creator} - ${track.title}</li>
#{/list}
                </ol>
            </div>
        </article>
#{/list}
#{/if}
#{else}
        <div>
            <h1>No recent releases? Inconceivable!</h1>
            <p>It's likely the app flubbed. Let the admin know, hang tight, and
            hopefully it'll be resolved in a jiffy. Sorry for the inconvenience.</p>
        </div>
#{/else}
